.offerings {
  padding-bottom: 120px;

  &__row {
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }

  &__caption {
    text-align: center;
    padding-top: 48px;
    font-size: 24px;
    color: var(--text-main);
    padding-bottom: 120px;
  }
}

@media (max-width: 468px) {
  .offerings {
    padding-bottom: 40px;

    &__img {
      height: 70px;
      width: 70px;
    }

    &__svg {
      max-height: 100%;
    }

    &__caption {
      padding: 16px 0 0;
      font-size: 15px;
    }
  }

  .align-items-start {
    flex-direction: column;
    gap: 16px;
  }
}