.reviews {
  padding-bottom: 120px;
}

.review__row {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-bottom: 200px;
}

.row-reviews {
  flex-wrap: unset;
  justify-content: space-between;
  font-size: 18px;
  text-align: left;
}

.review__photo {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.review__photo-price {
  margin: 0 auto;
  position: absolute;
  top: 100%;
  color: var(--white);
  background-color: rgb(56 56 56 / 70%);
  height: 48px;
  padding: 16px;
  transition: top 0.5s;
  z-index: 1;
  max-width: 400px;
  width: 100%;
}

.review__photo:hover > .review__photo-price {
  top: calc(100% - 48px);
}

.review__caption-col {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-colour);
  z-index: 2;
  position: relative;
  padding: 24px;
  color: var(--accent-blue);
  max-width: 400px;
  width: 100%;
  height: 360px;
}

.review__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__caption:first-child {
  font-weight: 500;
}

.review__score {
  background-color: var(--general-blue);
  padding: 4px 11px;
  border-radius: 8px;
  color: var(--white);
  font-weight: 600;
  font-family: 'Open Sans', serif;
}

.review__count {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secodary);
}

.review__user {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.review__user-name {
  padding-left: 16px;
  color: var(--text-main);
}

.review__user-country {
  color: var(--text-secodary);
}

.review__text {
  color: var(--text-main);
  line-height: 21px;
}

.review__slider {
  display: none;
}

.login-desktop {
  display: flex;
  background-color: var(--bg-colour);
  justify-content: space-between;
}

.login-img {
  padding: 57px 24px;
}

.login__discount {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 51px 0;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  color: var(--text-main);
}

.sign-up-btn {
  appearance: none;
  border-radius: 8px;
  background-color: var(--white);
  width: 128px;
  height: 48px;
  border: 1px solid var(--accent-blue);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: var(--accent-blue);
}

.cross {
  padding: 24px;
}

.login-mob {
  display: none;
}

@media (max-width: 468px) {
  .reviews {
    background-color: var(--bg-colour);
    display: flex;
    flex-direction: column;
    padding-bottom: unset;
  }

  .review-container {
    order: 1;
  }

  .review__row {
    justify-content: space-around;
    padding-bottom: 16px;
  }

  .col-review {
    padding-left: unset;
    padding-right: unset;
    margin: 0 auto;
    width: fit-content;
  }

  .col-review:nth-child(n + 2) {
    display: none;
  }

  .review__col {
    max-width: 325px;
    width: 100%;
    padding: 16px 0;
    font-size: 15px;
  }

  .review__photo {
    max-width: 325px;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .review__score {
    padding: 3px 9px;
  }

  .review__caption-col {
    padding: 24px 0 40px;
  }

  .review__slider {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .login {
    order: 2;
    background-color: var(--white);
  }

  .login-desktop {
    display: none;
  }

  .login-mob {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .login__logo {
    fill: var(--white);
    position: relative;
    background-color: var(--accent-blue);
    padding: 23px 3px;
    border-radius: 4px;
  }

  .cross-login {
    padding: unset;
  }

  .login-mob-install {
    font-size: 14px;
    font-weight: 500;
    padding: 45px 0;
    color: var(--accent-blue);
  }
}
