mixin footer
  section.footer
    .container
      .footer__logo
        svg(width='98', height='19')
          use(href='#logo')
      .footer__row.content
        .footer__col.col-3
          p.footer__link-1st About
          p.footer__link How Triphouse works
          p.footer__link Careers
          p.footer__link Privacy
          p.footer__link Terms
        .footer__col.col-3
          p.footer__link-1st Property types
          p.footer__link Guest houses
          p.footer__link Hotels
          p.footer__link Apartments
          p.footer__link Villas
          p.footer__link Holiday homes
          p.footer__link Hostels
        .footer__col.col-3
          p.footer__link-1st Support
          p.footer__link Contact Customer Service
          p.footer__link FAQ
      .footer__copyright.content
        | &copy; 2023Triphouse, Inc. All rights reserved
