mixin homes
  section.homes
    .container
      h2.title Homes guests loves
      .swiper.mySwiper
        #js-swiper.swiper-wrapper
        .swiper-button-prev
          svg.arrow-svg.arrow-prev(width='40', height='40')
            use(href='#arrow')
        .swiper-button-next
          svg.arrow-svg(width='40', height='40')
            use(href='#arrow')




