mixin main
  section.main
    .container
      .header.content
        svg.header__logo(width='205', height='40')
          use(href='#logo')
        .header__navbar
          .header__navbar-left.navbar__common
            p.header__links Stays
            p.header__links Attractions
          .header__navbar-right.navbar__common
            svg.svg-night(width='30', height='30')
              use(href='#night')
            svg.svg-account(width='40', height='40')
              use(href='#account')
            svg.svg-menu(width='24', height='16')
              use(href='#menu')
      .motto
        p
          | Discover stays
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;to live, work or just relax
      form.filter.content(action='', method='get')
        .filter__element-city
          label.filter__label(for='city-search') Your destination or hotel name
          input#city-search.city-search.filter__element(type='text', name='city', placeholder='City')
        .filter__element-date
          label.filter__label(for='date-in') Check-in &mdash; Check-out
          input#date-in.filter__element(type='date', name='date')
          input#date-out.filter__element(type='date', name='date')
        .filter__element-persons
          select#adults.filter__element.filter__element-p(name='adults')
            option(value='1', selected='', disabled='') Adults
            option(value='1') 1 Adult
            option(value='2') 2 Adults
            option(value='3') 3 Adults
          span.filter__element-separate-h &mdash;
          .filter__element-separate-v
          select#children.filter__element.filter__element-p(name='children')
            option(value='2', selected='', disabled='') Children
            option(value='1') 1 Child
            option(value='2') 2 Children
            option(value='3') 3 Children
          span.filter__element-separate-h &mdash;
          .filter__element-separate-v
          select#room.filter__element.filter__element-p(name='rooms')
            option(value='1', selected='', disabled='') Rooms
            option(value='1') 1 Room
            option(value='2') 2 Rooms
            option(value='3') 3 Rooms
        button.filter__btn(type='submit') Search
      .downloads
        svg(width='135', height='40')
          use(href='#google')
        svg(width='120', height='40')
          use(href='#apple')
