mixin main
  section.main
    .container
      .header.content
        svg.header__logo(width='205', height='40')
          use(href='#logo')
        .header__navbar
          .header__navbar-left.navbar__common
            p.header__links Stays
            p.header__links Attractions
          .header__navbar-right.navbar__common
            svg.svg-night(width='30', height='30')
              use(href='#night')
            svg.svg-account(width='40', height='40')
              use(href='#account')
            svg.svg-menu(width='24', height='16')
              use(href='#menu')
      .motto
        p
          | Discover stays
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;to live, work or just relax
      div.filter.content
        .filter__element-city
          label.filter__label(for='city-search') Your destination or hotel name
          input#city-search.city-search.filter__element(type='text', name='city', placeholder='City')
        div.filter__element-date
          label.filter__label(for='date-in') Check-in &mdash; Check-out
          button.calendar-opener 📅 Check-in — Check-out
          .content-calendar
            table.calendar-body#calendar-body
              tbody
            table.calendar-body#calendar-body-next
              tbody
        div.filter__element-persons
          button.counter-opener
          .content-persons#counter-body
            div.counter
              span.counter-name Adults
              button.count-btn -
              span.counter-num#adult-count
              button.count-btn +
            div.counter
              span.counter-name Children
              button.count-btn -
              span.counter-num#children-count
              button.count-btn +
            div.counter
              span.counter-name Rooms
              button.count-btn -
              span.counter-num#rooms-count
              button.count-btn +
            div#child-block
        button#search-btn.filter__btn Search
      .downloads
        svg(width='135', height='40')
          use(href='#google')
        svg(width='120', height='40')
          use(href='#apple')
